<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up Page</title>
</head>
<body>
<form action="#" method="POST">

    <label for="inputFirstName">Input First Name</label>
    <input id = "inputFirstName" name="inputFirstName" type="input" placeholder="Enter First Name" maxlength="20" required>

    <label for="inputLastName">Input Last Name</label>
    <input id = "inputLastName" name="inputLastName" type="input" placeholder="Enter Last Name" maxlength="20" required>

    <label for="inputUserName">Input User Name</label>
    <input id = "inputUserName" name="inputUserName" type="input" placeholder="Enter User Name" maxlength="20" required>

    <label for="inputPassword">Input Password </label>
    <input id = "inputPassword" name="inputPassword" type="input" placeholder="Enter Password" maxlength="20" required>


<!--    <input type="submit">-->
    <button type="submit" class="btn btn-primary">Sign Up</button>

</form>
</body>
</html>